<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Myeongjo&family=Sunflower:wght@300&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<title>Insert title here</title>
</head>
<body>
	<div>
		<header th:fragment="header">
			<a th:href="@{/}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a th:href="@{/list}">Shop</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a th:href="@{/login1}">admin</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a th:href="@{/login2}">user</a>&nbsp;&nbsp;&nbsp;&nbsp;
		</header>
	</div>
</body>
</html>