#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}
* {
  font-family: 'Times New Roman', Times, serif;
}
.menu{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 25px;
}
.menu li {
  list-style: none;
  cursor: pointer; 
}
.menu a {
  color: white;
  border : 1px solid darkblue;
  background-color: darkblue;
  border-radius: 30px;
  padding: 10px 20px;
}