<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Document</title>
</head>
<body>
    <div id="app"> 
        <b>이름: {{name}}<br>
        주소: {{addr}}<br>
        핸드폰: {{hp}}</b>
        <br>
        <button type="button" @click="event1('홍길동')">이름 변경</button>
        <button type="button" @click="event3('서울시 서초구')">주소 변경</button>
        <button type="button" @click="event2('010-1411-1111')">핸드폰 변경</button>

        <hr>
            <!-- 양방향 바인딩:V-model -->
             <h2>양방향 바인딩 v-model_binding</h2>
            {{message}}
            <div>{{$data}}</div>
            <input v-model="message">

            <h4>이미지 나타내기</h4>
                 <img v-bind:src="imgSrc">
            <h4>이미지 변경하기</h4>
            <input v-model="imgSrc" size="60">
    </div>
   
    <script>
        
        const app=Vue.createApp({
            data(){
                return{
                    name:'손현정',
                    hp:'010-2466-6322',
                    addr:'서울시 강남구 역삼동',
                    message:"다음 시간은 노드설치",
                    imgSrc:'../Food/1.jpg',

                }
            },methods:{
                event1(myname){
                    this.name=myname;
                },
                event2(myhp){
                    this.hp=myhp;
                },
                event3(myaddr){
                    this.addr=myaddr;
                }
            }
        })
        // createApp의 app을 mount(id가 'app'인것)
        app.mount('#app')
        
    </script>
    <!-- vue 는 body부분에 style도 같이 있음  -->
    <style>

    </style>
</body>
</html>