div.lotto{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 100px;
    color: skyblue;
    
    box-shadow: 10px 10px 10px gray;
    border-radius: 100px;
}